
<main>

  <h1>Edit <%= college.name %> </h1>
  <form method="POST" action="/colleges/<%= college.id %>?_method=PUT">
    <!-- NOTE: the form is pre-populated with values from the server  -->
    

    <label>
      <span>Name:</span>
      <input type="text" name="name" value="<%=college.name%>" />
    </label>
    
    <br>
    <br>

    <label>
      <span>Location:</span>
      <input type="text" name="location" value="<%=college.location%>" />
    </label>

    <br>
    <br>
     <label>
      <span>Cost:</span>
      <input type="text" name="cost" value="<%=college.cost%>" />
    </label>

    <br>
    <br>

     <label>
      <span>Program of Interest:</span>
      <input type="text" name="programsOfInterest" value="<%=college.programsOfInterest%>" />
    </label>

    <br>
    <br>

    <label>
      <input type="checkbox" name="hasApplied" 
      <% if (college.hasApplied) { %>
        checked
      <% } %>
      />

      <span>Student Has Applied:</span>
    </label>

     <label>
      <input type="checkbox" name="hasBeenAccepted" 
      <% if (college.hasBeenAccepted) { %>
        checked
      <% } %>
      />

      <span>Student Has Been Accepted:</span>
    </label>
    <br>
    <br>
      
      
    <input type="submit" name="" value="Submit Changes"/>
    </form>
</main>

<br>
<br>
<br>
 <a href="/colleges">View All Colleges</a>
<br>
 <a href="/colleges/new">Add a New College to Your List</a> 


<br>
<br>
<br>
<%- include('./partials/footer.ejs') %>
